<header>
    <div class="logo-container">

        <%- include('menu-hamburger') %> 

        <h1 class="logo">GH</h1>
        <span id="logo-mascot">        
            <div id="ghost">
                <div id="ghost-face" class="flex-container">
                    <div class="flex-item"></div>
                    <div class="flex-item"></div>
                </div>
                <div class="ghost-flow">
                    <div class="ghost-wave"></div>
                </div>
            </div>
            <div id="umbra"></div>
        </span>
        <h1 class="logo">st uPlOad</h1> 
    </div>

</header>

<%- include('side-menu') %> 