<header>
    <div class="logo-container">

        <%- include('menus/hamburger') %> 

        <h1 class="logo"><span class="text-jump">G</span><span class="text-jump">H</span></h1>
        <span id="logo-mascot">        
            <div id="ghost">
                <div id="ghost-face" class="flex-container">
                    <div class="flex-item"></div>
                    <div class="flex-item"></div>
                </div>
                <div class="ghost-flow">
                    <div class="ghost-wave"></div>
                </div>
            </div>
            <div id="umbra"></div>
        </span>
        <h1 class="logo"><span class="text-jump">s</span><span class="text-jump">t</span>
            <% 
                const remainingInput = 'uPload';
                
                for (const char of remainingInput) {
            %><span class="text-jump"><%=char%></span><%        
                }
            %> 
        </h1> 
    </div>

</header>

<%- include('menus/side') %>