<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Ghost Upload" />
    <meta property="og:description" content="<%= ogDescription %> " />
    <meta property="og:url" content="<%= ogURL %> " />
    <meta property="og:image" content="<%= ogImage %>" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Inconsolata&family=Lacquer&family=Montserrat+Alternates:wght@300&display=swap');
        @import url('../../ghost-mascot-style.css');
        @import url('../../ghost-main-style.css');
        @import url('../../ghost-error-style.css');
    </style>
    <title>Ghost Upload</title>
</head>