<style>
    @import url('../../ghost-login-style.css');
</style>
<script src="../../ghost-ajax.js"></script>
<script defer>
    
    const flipCard = () => { 
        $('#account-form-card').toggleClass('card-flipped'); 
    }

</script>
<div id="account-form-container">
    <div id="account-form-scene">
        <div id="account-form-card">
            <div class="card-face card-login">
                <div id="login-form-container">
                    <form onsubmit="loginRequest(event, './login')" method="POST">
                        <fieldset id="login" class="account-form">
                            <input type="text" name="username" placeholder="Username...">
                            <input type="password" name="password" placeholder="Password...">
                            <input type="submit" value="Sign In">
                            <p>Or</p>
                            <input type="button" value="Join Ghost Family" onclick="flipCard()">
                        </fieldset>
                    </form>
                </div>

                <%- include('animations/ectoblob') %> 

            </div>
            <div class="card-face card-signup">
                <div id="signup-form-container">
                    <fieldset id="signup" class="account-form">
                        <input type="text" name="" id="" placeholder="Username...">
                        <input type="password" name="" id="" placeholder="Password...">
                        <input type="password" name="" id="" placeholder="Confirm Password...">
                        <input type="submit" value="Sign Up" onclick="">
                        <p>Or</p>
                        <input type="button" value="Ghost Member" onclick="flipCard()">
                    </fieldset>
                </div>

                <%- include('animations/ectoblob') %> 

            </div>
        </div>
    </div>
</div>