<div id="login-container">  
    <form action="./login" method="POST">
        <fieldset id="login">
            <legend>Login!</legend>
            <label for="li-username">Username:</label>
            <input type="text" name="username" id="li-username" required>
            <label for="li-password">Password:</label>
            <input type="password" name="password" id="li-password" required>
            <input type="submit" value="Create Account">
        </fieldset>
    </form>
</div>