<style>
    @import url('../../ghost-login-style.css');
</style>
<div id="account-form-scene">
    <div id="account-form-card" onclick="$(this).toggleClass('card-flipped')">
        <div class="card-face card-login">
            test
        </div>
        <div class="card-face card-signup">
            test
        </div>
    </div>
</div>