<fieldset>
    <legend>Sign Up!</legend>
    <label for="su-username">Username:</label>
    <input type="text" name="username" id="su-username">
    <label for="su-password">Password:</label>
    <input type="password" name="password" id="su-password">
    <label for="su-password-confirm">Confirm Password:</label>
    <input type="password" name="passwordc" id="su-password-confirm">
</fieldset>