<script defer>

    // Custom validity check for password matching
    const validate = () => {
        let $password = $('#su-password');
        let $confirmPassword = $('#su-password-confirm');

        return $confirmPassword.get(0).setCustomValidity($password.val() != $confirmPassword.val() ? 'Passwords Mush Match!' : '');
    };

</script>
<div id="signup-container">  
    <form action="./signup" method="POST">
        <fieldset id="signup">
            <legend>Sign Up!</legend>
            <label for="su-username">Username:</label>
            <input type="text" name="username" id="su-username" required>
            <label for="su-password">Password:</label>
            <input type="password" name="password" id="su-password" onchange="validate()" required>
            <label for="su-password-confirm">Confirm Password:</label>
            <input type="password" name="passwordc" id="su-password-confirm" onkeyup="validate()" required>
            <input type="submit" value="Create Account">
        </fieldset>
    </form>
</div>
