<div id="account-side-menu">
    <% 
    if (!isLoggedIn) {
    %> 
        <div class="account-sm-item-wrapper">
            <div class="join-or-login">
                <h2>Welcome to Ghost Upload!</h2>
                <button>Login or Join!</button>
            </div>
        </div>
    <%
    }
    %>
</div>