<div class="ectoblob">
    <svg class="svg-blob" width="100%" height="100%" viewBox="0 0 480 480">
        <path>
            <animate attributeName="d" dur="15s" repeatCount="indefinite"
                values="
                M383,250Q303,260,334.5,296Q366,332,364,370Q362,408,321,385.5Q280,363,260,411.5Q240,460,230.5,378.5Q221,297,205.5,303Q190,309,159.5,315Q129,321,122,300.5Q115,280,77.5,260Q40,240,73.5,218.5Q107,197,134.5,190Q162,183,186.5,191.5Q211,200,204.5,156Q198,112,219,71.5Q240,31,265,58.5Q290,86,331,72Q372,58,331.5,130.5Q291,203,361.5,190.5Q432,178,447.5,209Q463,240,383,250Z;
                M333.5,251Q307,262,315,281Q323,300,338,348Q353,396,317,382Q281,368,260.5,399.5Q240,431,210.5,426.5Q181,422,184,367.5Q187,313,175.5,304Q164,295,112,296.5Q60,298,112.5,269Q165,240,123.5,214.5Q82,189,136.5,197Q191,205,185,180Q179,155,175.5,92.5Q172,30,206,102Q240,174,264.5,131Q289,88,299.5,116Q310,144,329,152.5Q348,161,325.5,190.5Q303,220,331.5,230Q360,240,333.5,251Z;
                M396,264Q387,288,350.5,291Q314,294,304,304.5Q294,315,284,330.5Q274,346,257,348.5Q240,351,223,348.5Q206,346,165.5,372Q125,398,120.5,364Q116,330,107.5,308Q99,286,92.5,263Q86,240,119.5,226Q153,212,109.5,163Q66,114,107,113.5Q148,113,165,86.5Q182,60,211,121.5Q240,183,270.5,118Q301,53,314,87Q327,121,341.5,138Q356,155,370,174Q384,193,394.5,216.5Q405,240,396,264Z;
                M440,267Q407,294,386,312Q365,330,348.5,348.5Q332,367,298.5,341.5Q265,316,252.5,381.5Q240,447,226.5,385Q213,323,202,315Q191,307,189.5,292.5Q188,278,121,289Q54,300,34,270Q14,240,24.5,207Q35,174,99,179Q163,184,151.5,143Q140,102,155.5,64.5Q171,27,205.5,25.5Q240,24,253.5,90Q267,156,275,168.5Q283,181,320,168Q357,155,399.5,164.5Q442,174,457.5,207Q473,240,440,267Z;
                M399.5,263.5Q385,287,375.5,309.5Q366,332,335,330Q304,328,297.5,363Q291,398,265.5,430Q240,462,217.5,420Q195,378,195.5,339.5Q196,301,173,303.5Q150,306,140,291Q130,276,121.5,258Q113,240,73.5,206.5Q34,173,47.5,141.5Q61,110,85,85Q109,60,153.5,85.5Q198,111,219,108.5Q240,106,264.5,97Q289,88,288,132Q287,176,300,181.5Q313,187,330.5,196Q348,205,381,222.5Q414,240,399.5,263.5Z;
                M383,250Q303,260,334.5,296Q366,332,364,370Q362,408,321,385.5Q280,363,260,411.5Q240,460,230.5,378.5Q221,297,205.5,303Q190,309,159.5,315Q129,321,122,300.5Q115,280,77.5,260Q40,240,73.5,218.5Q107,197,134.5,190Q162,183,186.5,191.5Q211,200,204.5,156Q198,112,219,71.5Q240,31,265,58.5Q290,86,331,72Q372,58,331.5,130.5Q291,203,361.5,190.5Q432,178,447.5,209Q463,240,383,250Z;
                "/>
        </path>
    </svg>
</div>