<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../ghost-404-style.css">
        <title>Page Not Found</title>
    </head>
    <body>
    <div>
        <div class="first-four">4</div>
        <div class="last-four">4</div>
        <div class="not-found">Not Found</div>
        <div class="ghost">
        <div class="ghost__body">
            <div class="eyes"></div>
            <div class="blush"></div>
            <div class="hand"></div>
            <div class="wavy-container">
            <div class="wavy"></div>
            </div>
        </div>
        </div>
    </div>
    </body>
</html>