<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>     

    <body>

        <%- include('partials/header') %>
        
        <div id="display-wrapper">
            <img src="<%= imagePath %>" alt="" class="display">
        </div>

        <%- include('partials/footer') %> 
        
    </body>
</html>