<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

    <body>

        <%- include('partials/header') %>

        <div id="account-settings">
            <div id="profile-settings">
                <p>Profile Stuff</p>
            </div>
            <div id="password-settings">
                <p>Password Stuff</p>
            </div>
            <div id="api-settings">
                <p>API stuff</p>
            </div>
        </div>
        
        <%- include('partials/footer') %> 
        
    </body>
</html>