<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

    <script defer>
        const generateAPIKey = () => {

            $.ajax({
                type: 'PATCH',
                url: './profile/apikey',
                data: {
                    expire: false
                },
                success: (response) => {
                    
                    $('.generate-api-key input').val(response.apiKey);
                }
            })
        };

        const copyAPIKey = () => {

            $('.generate-api-key input').select();
            $('div.copied').toggleClass('active');
            
            setTimeout(() => {
                $('div.copied').toggleClass('active');
            }, 3000);

            return document.execCommand('copy');
        };
    </script>
    <body>

        <%- include('partials/header') %>
        <div id="profile-flex">
            <div id="account-settings">
                <div id="profile-settings">
                    <h4>Profile</h4>
                </div>
                <div id="password-settings">
                    <h4>Change Password</h4>
                    <div class="change-pw-container">
                        <form action="#">
                            <input type="password" placeholder="Old Password">
                            <input type="password" placeholder="New Password">
                            <input type="password" placeholder="Confirm New Password">
                            <input type="submit" placeholder="Save">
                        </form>
                    </div>
                </div>
                <div id="api-settings">
                    <h4>API</h4>
                    <div class="api-container">
                        <p class="api-p">Current API Key</p>
                        <div class="generate-api-key">
                            <div class="generate"><button onclick="generateAPIKey()">Generate Key</button></div>
                            <input type="text" onclick="copyAPIKey()" readonly>
                        </div>
                        <p>Refer to the <a href="#">API Documentation </a>for usage.</p>
                        <div class="copied"><p>API Key Copied!</p></div>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer') %> 
        
    </body>
</html>