<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %> 

    <body>

        <%- include('partials/header') %>
        <div id="profile-flex">
            <div id="account-settings">
                <div id="profile-settings">
                    <h4>Profile</h4>
                </div>
                <div id="password-settings">
                    <h4>Change Password</h4>
                    <div class="change-pw-container">
                        <form action="#">
                            <input type="password" placeholder="Old Password">
                            <input type="password" placeholder="New Password">
                            <input type="password" placeholder="Confirm New Password">
                            <input type="submit" placeholder="Save">
                        </form>
                    </div>
                </div>
                <div id="api-settings">
                    <h4>API</h4>
                </div>
            </div>
        </div>
        
        <%- include('partials/footer') %> 
        
    </body>
</html>