<!DOCTYPE html>
<html lang="en">

    <script>

        const onDrag = (event) => {
            event.preventDefault();

            console.log('hello');
        }

        const onDrop = (event) => {
            event.preventDefault();

            if (!event.dataTransfer.items) return;
                
            const file = event.dataTransfer.items[0];

            if (!file.type.includes('image')) return;

            upload(file.getAsFile());
        }

        const upload = (image) => {
            const IMAGE_DATA = new FormData();

            IMAGE_DATA.append('image', image);

            $.ajax({
                type: 'POST',
                url: './upload',
                data: IMAGE_DATA,
                contentType: false,
                processData: false,
                cache: false,
                success: (response) => {
                    console.log(response);
                    $('img').attr('src', response.path);
                }
            })
        }

    </script>

    <%- include('partials/head') %> 

    <body>

        <%- include('partials/header') %> 

        <div id="upload-wrapper">
            <div class="upload-box">
                <div class="center-align-div">
                    <div id="upload-drop" ondrop="onDrop(event)" ondragover="onDrag(event)">
                        <img id="upload-img" src="/images/upload.svg" alt="">
                    </div>
                </div>
                <div class="center-align-div">
                    <h1>test grid two</h1>
                </div>
            </div>
        </div>

        <%- include('partials/footer') %>
        
    </body>
</html>