@import './ghost-constants.css';

/* Color schemes */
div.logo-container, ul#side-menu {
    background-color: var(--deep-phantom-purple);
}

/* Main Cross */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 100vw;
    background-color: var(--phantom-purple);
    color: var(--ghost-white);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    height: 5%;
}

/* Footer */
footer > p {
    margin: 0;
    font-family: var(--phantom-font);
}

/* Header */
h1.logo {
    margin: auto 0;
    font-family: var(--phantom-font);
    font-size: 1.60rem;
}

span.text-jump {
    display: inline-block;
    transition: transform .5s, color .5s;
}
span.text-jump:hover {
    transform: translateY(-5px);
    color: var(--ectoplasm-green);
}

div#account-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

div#menu-container {
    inset: 0;
}

div#menu-container, div#account-menu-container {
    position: absolute;
    height: 100%;
    width: 25%;
}

span#logo-mascot {
    padding-bottom: 0;
}

div.logo-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 2;
}

div#account-menu-container, div#menu-container, div.logo-container, #logo-mascot {
    padding: 10px;
}

.svg-menu {
    position: absolute;
    width: 65px;
    height: 65px;
}

div#avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    padding: 5px;
}

div#avatar {
    display: flex;
    height: 70%;
    width: 70%;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

div#avatar img {
    width: 100%;
    object-fit: cover;
    height: auto;
}

.svg-menu {
    left: 0;
    cursor: pointer;
}

.burger {
    filter: url(#gooeyness);
}

.x {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: var(--ectoplasm-green);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.burger:hover *, .x:hover * {
    stroke: var(--ectoplasm-green-bright)
}

.x .line {
    stroke-width: 5.5px;
}

.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.line1 {
    stroke-dasharray: 21 185.62753295898438;
    transition-delay: 0;
}

.line2 {
    stroke-dasharray: 21 178.6514129638672;
    transition-delay: 30ms;
}

.line3 {
    stroke-dasharray: 21 197.92425537109375;
    transition-delay: 60ms;
}

.line4 {
    stroke-dasharray: 21 190.6597137451172;
    transition-delay: 90ms;
}

.line5 {
    stroke-dasharray: 21 208.52874755859375;
    transition-delay: 120ms;
}

.line6 {
    stroke-dasharray: 21 186.59703063964844;
    transition-delay: 150ms;
}

.active .line1 {
    stroke-dasharray: 5 185.62753295898438;
    stroke-dashoffset: -141px;
}

.active .line2 {
    stroke-dasharray: 5 178.6514129638672;
    stroke-dashoffset: -137px;
}

.active .line3 {
    stroke-dasharray: 5 197.92425537109375;
    stroke-dashoffset: -176px;
}

.active .line4 {
    stroke-dasharray: 5 190.6597137451172;
    stroke-dashoffset: -159px;
}

.active .line5 {
    stroke-dasharray: 5 208.52874755859375;
    stroke-dashoffset: -139px;
}

.active .line6 {
    stroke-dasharray: 5 186.59703063964844;
    stroke-dashoffset: -176px;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 250ms;
}

/* Side Menu */
a {
	text-decoration: none !important;
	color: var(--ectoplasm-green);
	transition: color 0.3s ease;
}

a:hover {
	color: var(--ectoplasm-green-bright);
}

#account-side-menu {
    display: flex;
    position: fixed;
    margin: 0;
    right: 0;
    width: 100vw;
    background-color: var(--deep-phantom-purple);
    transform: translate(100%, -100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 1;
}

div.account-sm-item-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
}

div.join-or-login > button {
    width: 100%;
    height: 40px;
    margin: 15px auto;
}

div.join-or-login > h2 {
    text-align: center;
    color: var(--ectoplasm-green);
    font-family: var(--phantom-font);
}

#side-menu-toggle input {
	display: none;
	width: 0px;
	height: 0px;
}

#side-menu {
    position: absolute;
    margin: 0;
	width: 100vw;
    height: 100vh;
	padding: 50px;
	background: #ededed;
	list-style-type: none;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 2;
}

#side-menu li {
	padding: 10px 0;
	font-size: 22px;
}

#side-menu-toggle .active~ul, #account-side-menu.active {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

/* Input Fields */
fieldset.account-form {
    margin: 10px;
    max-width: 350px;
    width: 100%;
    background-color: var(--deep-phantom-purple-smoky);
    border-style: none;
    border-radius: 5px;
}

fieldset#login > input, fieldset#signup > input {
    width: 100%;
    margin: 10px 0;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0);
    color: var(--ectoplasm-green);
    border: none;
    border-radius: 0;
    border-bottom: 3px solid;
    border-color: var(--ghost-white);
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    outline: none;
}

fieldset#login > input::placeholder, fieldset#signup > input::placeholder {
    font-style: italic;
    color: var(--ghost-white);
} 

fieldset#login > input:not(:placeholder-shown), fieldset#signup > input:not(:placeholder-shown) {
    font-style: italic;
    color: var(--ectoplasm-green);
    border-color: var(--ectoplasm-green);
}

fieldset#login > input[type="submit"], fieldset#login > input[type="button"], fieldset#signup > input[type="submit"], fieldset#signup > input[type="button"], div.join-or-login > button {
    background-color: var(--ghost-white);
    color: var(--deep-phantom-purple);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
}

fieldset#login > input[type="submit"]:hover, fieldset#login > input[type="button"]:hover, fieldset#signup > input[type="submit"]:hover, fieldset#signup > input[type="button"]:hover, div.join-or-login > button:hover {
    background-color: var(--ectoplasm-green);
    color: var(--deep-phantom-purple);
}

fieldset#login > p, fieldset#signup > p {
    margin: 0;
    text-align: center;
    font-style: italic;
}

/* Profile */
div > h4 {
    position: fixed;
    margin: 0;
    padding: 10px 0 10px 10px;
    font-family: var(--phantom-font);
    color: var(--ectoplasm-green);
}

div > hr {
    width: 100%;
}

div#profile-flex {
    display: flex;
    height: 90%;
    width: 100%;
}

div#account-settings {
    margin: auto;
    display: grid;
    gap: 5px;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    max-width: 800px;
    overflow: hidden;
}

div#profile-settings, div#password-settings, div#api-settings {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: var(--deep-phantom-purple-misty);
    overflow: hidden;
}

div.change-pw-container, div.api-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

div.change-prof-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

div.edit-avatar, div.edit-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

div.avatar-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

div.avatar-wrapper > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

div.upload-avatar {
    position: absolute;
    margin: 13px 13px 0 0;
    right: 0;
    width: 20px;
    height: 20px;
}

div.upload-avatar > svg:hover {
    cursor: pointer;
}

.au-svg {
    fill: var(--deep-phantom-purple);
}

div.change-pw-container > form > input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    margin: 5px auto;
    background-color: rgb(0, 0, 0, 0);
    color: var(--ectoplasm-green);
    border: none;
    border-radius: 0;
    border-bottom: 3px solid;
    border-color: var(--ghost-white);
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    outline: none;
}

div.change-pw-container > form > input[type="password"]::placeholder {
    font-style: italic;
    color: var(--ghost-white);
}

div.change-pw-container > form > input[type="password"]:not(:placeholder-shown) {
    font-style: italic;
    color: var(--ectoplasm-green);
    border-color: var(--ectoplasm-green);
}

div.change-pw-container > form > input[type="submit"]:hover {
    background-color: var(--ectoplasm-green);
    color: var(--deep-phantom-purple);
}

div.change-pw-container > form > input[type="submit"] {
    background-color: var(--ghost-white);
    color: var(--deep-phantom-purple);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border: none;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
}

div.change-pw-container > form {
    margin: 0 40px;
    width: 100%;
}

div.generate-api-key {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    width: 100%;
    height: 40px;
    max-width: 450px;
}

div.generate-api-key > input[type="text"] {
    width: 100%;
    border: none;
    text-align: center;
    padding: 0 30px;
    text-overflow: ellipsis;
    color: var(--ectoplasm-green-bright);
    background-color: var(--phantom-purple);
    user-select: none;
    cursor: pointer;
}

.api-p {
    margin-top: 40px;
}

div.generate-api-key > input[type="text"]:focus {
    outline: none;
}

div.generate-api-key > .generate{
    width: 30%;
}

div.generate > button {
    width: 100%;
    height: 100%;
    border: none;
    font-family: var(--phantom-font-flat);
    color: var(--deep-phantom-purple);
    background-color: var(--ghost-white-heavy);
    transition: 0.5s ease-in-out;
}

div.generate > button:hover {
    cursor: pointer;
    background-color: var(--ectoplasm-green);
}

div.copied {
    border-radius: 5px;
    opacity: 0;
    font-weight: bold;
    color: var(--deep-phantom-purple);
    background-color: var(--ectoplasm-green);
    transition: 2s ease-in-out;
}

div.copied.active {
    opacity: 1;
}

div.copied > p {
    margin: 0;
    padding: 10px;
    user-select: none;
}

@media (max-width: 460px) {

    div#profile-settings {
        border-radius: 0 0 15px 15px;
    }

    div#api-settings {
        display: none;
    }

    div.account-sm-item-wrapper {
        padding-bottom: 95px;
    }
}

@media (min-width: 460px) {

    h1.logo {
        margin: 0;
        font-size: 4rem;
    }

    fieldset.account-form {
        max-width: 400px;
    }

    #side-menu, #account-side-menu {
        width: 330px;
    }

    #account-side-menu {
        border-bottom-left-radius: 15px;
    }

    .svg-menu {
        height: 80px;
        width: 80px;
        margin-left: 20px;
    }

    div#avatar-container {
        height: 100px;
        width: 100px;
    }

    div#profile-flex {
        height: 85%;
    }

    div#account-settings {
        height: 90%;
        gap: 10px;
    }

    div.change-pw-container > form {
        width: 40%;
    }

    div.api-container {
        flex-direction: column;
    }
}