body {
    margin: 0;
    padding: 0;
    background-color: rgb(48, 32, 74);
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
  }
  
  .first-four {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 400px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #575757 0, white 100%);
    transform: translate(-20%, -30%);
  }
  
  .last-four {
    position: absolute;
    top: 30%;
    right: 20%;
    font-size: 400px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-90deg, #575757 0, white 100%);
    transform: translate(20%, -30%);
  }
  
  .not-found {
    position: absolute;
    bottom: 20%;
    left: 50%;
    font-size: 300%;
    color: #565656;
    white-space: nowrap;
    transform: translate(-50%, 10%);
  }
  
  .ghost {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
  }
  .ghost__body {
    width: 210px;
    height: 200px;
    background-color: white;
    border-radius: 50% 50% 0 0;
  }
  .ghost__body .eyes:before {
    content: "";
    position: absolute;
    top: 60px;
    left: 40px;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 100%;
  }
  .ghost__body .eyes:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 130px;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 100%;
  }
  .ghost__body .blush {
    position: absolute;
    top: 120px;
    left: 40px;
    width: 8px;
    height: 20px;
    background-color: pink;
    border-radius: 40%;
    box-shadow: 10px -6px 0 0 pink, 20px -12px 0 0 pink, 80px -48px 0 0 pink, 90px -54px 0 0 pink, 100px -60px 0 0 pink;
    transform: rotate(30deg);
  }
  .ghost__body .hand:before {
    content: "";
    position: absolute;
    top: 130px;
    left: -40px;
    width: 90px;
    height: 25px;
    background-color: white;
    border-radius: 50% 0 0 50%/70% 0 0 70%;
    transform: rotate(-60deg);
    z-index: -10;
    animation: wave-hand-left 0.3s linear infinite;
  }
  .ghost__body .hand:after {
    content: "";
    position: absolute;
    top: 130px;
    left: 160px;
    width: 90px;
    height: 25px;
    background-color: white;
    border-radius: 50% 0 0 50%/70% 0 0 70%;
    z-index: -10;
    transform: rotate(-120deg);
    animation: wave-hand-right 0.3s linear infinite;
  }
  .ghost__body .wavy-container {
    position: absolute;
    bottom: -49px;
    left: 0px;
    width: 210px;
    height: 50px;
    overflow: hidden;
    border-radius: 0 0 20% 20%;
  }
  .ghost__body .wavy-container .wavy {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 0 0 60% 60%/0 0 50% 50%;
    box-shadow: 70px -5px 0 0 white, 140px 4px 0 0 white, 210px 0px 0 0 white, 280px -5px 0 0 white, 350px 4px 0 0 white;
    animation: wavy 2s linear infinite;
  }
  
  @keyframes wavy {
    0% {
      transform: translatex(0);
    }
    100% {
      transform: translatex(-210px);
    }
  }
  @keyframes wave-hand-left {
    0% {
      transform: rotate(-60deg);
    }
    50% {
      transform: rotate(20deg);
    }
    100% {
      transform: rotate(-60deg);
    }
  }
  @keyframes wave-hand-right {
    0% {
      transform: rotate(-120deg);
    }
    50% {
      transform: rotate(-200deg);
    }
    100% {
      transform: rotate(-120deg);
    }
  }