@import './ghost-constants.css';

div#account-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

div#account-form-scene {
    width: 100%;
    height: 100%;
    perspective: 600px;
}

div#account-form-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

div#account-form-card.card-flipped {
    transform: rotateY(180deg);
}

div.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 0;
    overflow: hidden;
}

div.card-login {
    background-color: var(--deep-phantom-purple);
}

div#login-form-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

div.card-signup {
    background-color: var(--deep-phantom-purple);
    transform: rotateY(180deg);
}

div.ectoblob {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.svg-blob {
    animation: move 60s ease-in-out infinite;
}

@keyframes move {
    0%   { 
        transform: scale(1.4)   translate(0, 0) rotate(0); fill: var(--ectoplasm-green-bright); filter: drop-shadow( 20px 14px 10px var(--phantom-shadow)); 
    }
    25%  { 
        transform: scale(1.2) translate(0, 0) rotate(55deg); fill: var(--ectoplasm-green-bright); filter: drop-shadow( 14px 14px 6px var(--phantom-shadow)); 
    }
    50%  { 
        transform: scale(1.6) translate(0, 0) rotate(180deg); fill: var(--ectoplasm-green-bright); filter: drop-shadow( -16px -16px 16px var(--phantom-shadow)); 
    }
    75%  { 
        transform: scale(1.1) translate(0, 0) rotate(55deg); fill: var(--ectoplasm-green-bright); filter: drop-shadow( 14px 14px 6px var(--phantom-shadow)); 
    }
    100% { 
        transform: scale(1.4)   translate(0, 0) rotate(0); fill: var(--ectoplasm-green-bright); filter: drop-shadow( 20px 14px 10px var(--phantom-shadow)); 
    }
}

@media (min-width: 460px) {

    div.card-face {
        border-radius: 20px;
    }
    
    div#account-form-scene {
        max-width: 600px;
        max-height: 500px;
        width: 100%;
        height: 100%;
        perspective: 600px;
    }
}