

.flex-item {
  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 1;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

#ghost {
  width: 30px;
  height: 35px;
  animation: float 2s infinite;
  border-radius: 15px 15px 5px 5px;
  background-color: white;
}

#ghost-face {
  padding: 10px 0 0 0;
}

#ghost-mouth div {
  width: 7px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}

#ghost-mouth {
  padding: 5px;
}

#ghost-face div {
  width: 8px;
  height: 7px;
  border-radius: 50%;
  background-color: black;
}

#umbra {
  width: 30px;
  height: 15px;
  margin: 15px 0 0 0;
  opacity: 25%;
  animation: scale 2s infinite;
  border-radius: 75%;
  background-color: black;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(25%);
  }
}

@keyframes scale {
  0%,
  100% {
    transform: scale(0.5);
  }

  50% {
    transform: scale(1);
  }
}
