/* Root Variables */
:root {
    --phantom-purple: rgb(48, 37, 64);
    --phantom-purple-light: rgb(67, 52, 91);
    --deep-phantom-purple-smoky: rgba(32, 25, 43, .9);
    --deep-phantom-purple-misty: rgb(32, 25, 43, .65);
    --deep-phantom-purple-light: rgb(32, 25, 43, .5);
    --deep-phantom-purple: rgb(32, 25, 43);
    --ghost-white: rgb(248, 248, 255);
    --ghost-white-heavy: rgb(220, 220, 220);
    --ectoplasm-green: rgb(0, 201, 167);
    --ectoplasm-green-bright: rgb(46, 204, 113);
    --phantom-shadow: rgba(0, 0, 0, .7);
    --phantom-font: 'Lacquer', cursive;
    --phantom-font-flat: 'Montserrat Alternates', sans-serif;
}