<style>
    @import url('../../ghost-login-style.css');
</style>
<script src="../../../ghost-ajax.js"></script>
<script defer>
    
    const flipCard = () => { 
        $('#account-form-card').toggleClass('card-flipped'); 
    }

    // Custom validity check for password matching
    const validate = () => {
        let $password = $('#su-password');
        let $confirmPassword = $('#su-passwordc');

        return $confirmPassword.get(0).setCustomValidity($password.val() != $confirmPassword.val() ? 'Passwords Must Match!' : '');
    };

</script>
<div id="account-form-container">
    <div id="account-form-scene">
        <div id="account-form-card">
            <div class="card-face card-login">
                <div id="login-form-container">
                    <form onsubmit="loginRequest(event, './login')" method="">
                        <fieldset id="login" class="account-form">
                            <input type="text" name="username" placeholder="Username...">
                            <input type="password" name="password" placeholder="Password...">
                            <input type="submit" value="Sign In">
                            <p>Or</p>
                            <input type="button" value="Join Ghost Family" onclick="flipCard()">
                        </fieldset>
                    </form>
                </div>

                <%- include('../animations/ectoblob') %> 

            </div>
            <div class="card-face card-signup">
                <div id="signup-form-container">
                    <form onsubmit="signupRequest(event, './signup')" method="POST">
                        <fieldset id="signup" class="account-form">
                            <input type="text" name="username" placeholder="Username...">
                            <input type="password" name="password" id="su-password" onchange="validate()" placeholder="Password...">
                            <input type="password" name="passwordc" id="su-passwordc" onkeyup="validate()" placeholder="Confirm Password...">
                            <input type="submit" value="Sign Up">
                            <p>Or</p>
                            <input type="button" value="Ghost Member" onclick="flipCard()">
                        </fieldset>
                    </form>
                </div>

                <%- include('../animations/ectoblob') %> 

            </div>
        </div>
    </div>
</div>